/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 03/07/2023, 20:24:58
    Author     : alisson
*/

div.topo img{
    width: 12%;
    float: right;
}